<html>
   <body>
      <form action = "/input" method = "post">
         <fieldset>
            <legend>Wprowadź literki:</legend>
            <input type = "text" name = "chars" size="60" required/>
         </fieldset>
         <p></p>
         <fieldset>
            <legend>Wybierz zestaw liter:</legend>
            
            <div>
               <label>
                  <input type="checkbox" name="zestaw" value="standard" checked /> <!-- bez id i value -->
                  Standardowy
               </label>
            </div>

            <div>
               <label>
                  <input type="checkbox" name="zestaw" value="luca_di_bosqo" /> <!-- required --> <!-- bez id i value -->
                  Bez zajumanych*
               </label>
            </div>
         </fieldset>
         <p></p>
         <input type = "submit" value = "submit" />
         <p></p>
         <p>*zestaw standardowy bez skradzionych literek: LUCA DI BOSCO</p>
      </form>
   </body>
</html>