<html>
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CROPP Czapka checker</title>
    <script>
         function validateForm(event) {
            const checkboxes = document.querySelectorAll('input[name="zestaw"]');
            let isChecked = false;

            // Check if at least one required checkbox is checked
            checkboxes.forEach((checkbox) => {
                if (checkbox.checked) {
                    isChecked = true;
                }
            });

            const replace_from = document.getElementById('replace_from');
            const replace_to = document.getElementById('replace_to');
            
            // TODO: this validation doesnt work
            if (replace_from.textContent.length != replace_to.textContent.length) {
               isChecked = false;
            }

            if (!isChecked) {
                // Prevent form submission if no checkbox is selected
                event.preventDefault();
                alert('Wybierz przynajmniej jeden zestaw z gwiazdką');
            }
        }

        // Add event listener to the form submit event
        document.addEventListener('DOMContentLoaded', (event) => {
            const form = document.querySelector('form');
            form.addEventListener('submit', validateForm);
        });

      function boxclicked(checkbox, text_inputs){
         
         alert(text_inputs);
         // TODO: when unchecked we get internalerror
         var inputs = document.getElementsByName(text_inputs);
         // this should be arg?
         if (checkbox.checked) {
          // TODO: or onclick textinput doing all these (this as script)
            
            alert('2');
            inputs[0].disabled = false;
            inputs[1].disabled = false;
            inputs[0].focus();
         } else { // when unchecked we should flag data to not send
            inputs[0].disabled=true;
            inputs[1].disabled=true;
            alert('3');
         }
      }

      // var replace_from = document.getElementById('replace_from');
      //             var replace_to = document.getElementById('replace_to');
      //             if (this.checked) { // TODO: or onclick textinput doing all these (this as script)
      //                replace_from.disabled = false;
      //                replace_to.disabled = false;
      //                replace_from.focus();
      //             } else {
      //                replace_from.disabled=true;
      //                replace_to.disabled=true;
      //             }"

        // toggle inputs on click  

      //   function toggleInputs(checkbox) {
      //    var replace_from = document.getElementById('name3');
      //       var replace_to = document.getElementById('name4');
      //       if (checkbox.checked) {
      //           replace_from.disabled = false;
      //           replace_to.disabled = false;
      //           // Optionally, you can focus the first input
      //           replace_from.focus();
      //       } else {
      //           replace_from.disabled = true;
      //           replace_to.disabled = true;
      //       }
      //   }

      //   function toggleInputs(checkbox) {
      //       var inputs = document.getElementsByName('name50');
      //       inputs.forEach(function(input) {
      //           input.disabled = !checkbox.checked;
      //       });
      //       if (checkbox.checked && inputs.length > 0) {
      //           inputs[0].focus();
      //       }
      //   }
    </script>
</head>
<body style="font-family:verdana">
   <form action = "/input" method = "post">
      <fieldset>
         <legend>Wprowadź literki:</legend>
         <input type = "text" name = "chars" size="60" required/>
      </fieldset>
      <p></p>
      <fieldset>
         <legend>Wybierz zestaw liter:</legend>
         
         <div>
            <label>
               <input type="checkbox" name="zestaw" value="standard" checked />
                  Standardowy<span style=color:red;>*</span>
            </label>
         </div>

         <div>
            <label>
               <input type="checkbox" name="zestaw" value="luca_di_bosqo" />
                  Bez zajumanych<span style=color:red;>*</span>
            </label>
         </div>

         <div><br></div>

         <div>
            <label>
               <!-- TODO: move to script section -->
               <input type="checkbox" onclick="boxclicked(this, 'lost')" />
                  Zgubione...
               <input id="lost" name="lost" disabled="disabled" />
            </label>
         </div>

         <div>
            <label>
               <!-- TODO: move to script section -->
               <input type="checkbox" onclick="boxclicked(this, 'replace')" />
               Podmienione
               <input id="replace_from" name="replace" disabled="disabled" />
                -> 
               <input id="replace_to" name="replace" disabled="disabled" />
            </label>
         </div>
      </fieldset>
      <p></p>
      <input type = "submit" value = "submit" />
      <p></p>
      <p><span style=color:red;>*</span>Wybierz conajmniej jeden zestaw liter <br>
          Bez zajumanych - zestaw standardowy bez skradzionych literek: LUCA DI BOSCO i podmienionym Q -> C</p>
   </form>
</body>
</html>